@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inspiration', cursive;
font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('newyear1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.counter,.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
p{
    font-size: 18px;
}
#header{
    font-size: 55px;
}
.newyear{
    font-family: 'Inspiration', cursive;
    font-size: 50px;
    font-weight: 400px;
    margin-top: 30px;
}
.box{
    width: 50px;
    height: 50px;
    text-align: center;
}
.box h2{
    font-size: 30px;
    font-weight: 500px;

}
.box small{
    font-size: 10px;
}
.head{
    margin: 40px 0 20px 0;
    font-size: 20px;
}
#title{
    font-size: 40px;
}


@media (min-width:576px) {
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('newyear1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        color: #fff;
    }
    .newyear{
        font-size: 100px;
    }
    #header{
        font-size: 100px;
    }
    p{
    font-size: 18px;
    }
    .box h2{
    font-size: 30px;
    }
    .box{
        width: 100px;
        height: 70px;
    }
    .box small{
            font-size: 15px;
    }
    
}
@media (min-width:768px) {
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('newyear2.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;
        color: #fff;
    }
    .newyear{
        font-size: 150px;
    }
    p{
    font-size: 20px;
    }
    .box h2{
        font-size: 50px;
        }
        .box{
            width: 150px;
            height: 100px;
            text-align: center;
        }
        .box small{
            font-size: 20px;
        }
        #title{
            font-size: 50px;
        }
}